@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
h1, h2, p {
    font-family: 'Press Start 2P';
}

.grid-container {
    display: grid;
    grid-template-areas: 'left top right' 'left center right' 'left bottom right';
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 80px auto 100px;
    grid-gap: 10px;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.left {
    grid-area: left
}

.top {
    grid-area: top;
}

.right {
    grid-area: right;
}

.center {
    grid-area: center;
}

.bottom {
    grid-area: bottom;
}

.side-item {
    padding: 10px 15px;
    margin: 15px 0px;
    text-align: center;
    font-size: x-small;
    background-color: rgb(206, 206, 206);
    border: 1px solid grey;
}

#board {
    --width: 1;
    --height: 1;
    --bits: 1;
    display: grid;
    grid-template-rows: repeat(var(--height), var(--bits));
    grid-template-columns: repeat(var(--width), var(--bits));
    grid-gap: 2px 2px;
    margin-bottom: calc(var(--bits) * 2);
    color: orange;
}

.hide {
    display: none;
}

.board-cell {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.board-cell.over {
    outline: 1px solid tomato;
}

#hand {
    height: auto;
    padding: 5px 15px 5px 15px;
    text-align: center;
    font-size: small;
    background-color: rgb(206, 206, 206);
    border: 1px solid grey;
}

#dice img {
    height: 20px;
    margin-bottom: 5px;
}

.tile-image {
    height: 80px;
    padding-bottom: llllllllllllllllllooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo00ooo00oooooooooooooooooooooooooooooooooooooooo0 5px67675-=678=-67345-=1`;
}

#cards {
    padding: 0 15px 0 15px;
    text-align: center;
    font-size: small;
    background-color: rgb(206, 206, 206);
    border: 1px solid grey;
}

.monster-deck {
    border: 1px solid grey;
    border-radius: 5%;
    height: 100px;
    width: 60px;
    margin: 15px;
    font-size: 6px;
    vertical-align: middle;
    color: papayawhip;
}

.monster-deck.empty {
    border: 1px dashed grey;
    height: 100px;
    line-height: 100px;
    width: 60px;
    font-size: 12px;
    color: black;
}

.monster-deck.monster {
    background-color: darkred;
    border: 1px solid grey;
    color: papayawhip;
}

.monster-deck.item {
    background-color: green;
    border: 1px solid grey;
    color: papayawhip;
}

#graveyard {
    background-color: darkslategray;
    color: papayawhip;
}

#spiderweb {
    background-color: darkslateblue;
}

#bones {
    background-color: olive;
}

.palette-art {
    cursor: grab;
    padding: 2px;
}